/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* HEADER */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#start-forest-modal-header {
  min-width: 30em;
  min-height: 3em;
  height: 4em;
  text-align: center;
  align-items: center;
  background-color: #fedbff;
}

#start-forest-modal-title {
  text-align: center;
  align-items: center;
  padding: 0 0 0 27%;
  font-weight: bold;
  font-size: 2em;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* BODY */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#start-forest-modal-body {
  background-color: #2e2621;
  height: 13em;
}

/* Search */
#start-forest-search-bar {
  width: 28em;
  text-align: center;
}

.start-forest-search-container {
  width: 28em !important;
  height: 20em;
  margin: 5% 0 0 0;
  background: #c4c4c4;
  border-radius: 50px;
}

.start-forest-search-items {
  height: 14em;
  overflow-y: scroll;
}

/* Action */
#start-forest-create-link {
  background-color: #c8e6c9 !important;
  color: #000000;
  border-radius: 50px;
  border-width: 0.1em;
  border-color: #000000;
  width: 15em;
  height: 3em;
  margin: 5% 0 0 25%;
}

/* Other */

#start-forest-button {
  background-color: #fedbff;
  color: #c4c4c4;
}

#start-forest-button:hover {
  background-color: #e7c3e8 !important;
  color: #737070;
}
