#valley-title-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border: none;
  margin: 3% 0 0 0;
  align-items: left;
  vertical-align: left;
}

#valley-title {
  text-align: left;
  display: inline;
  white-space: nowrap;
  font-size: 3vw;
  padding: 0 0 0 0;
}

#valley-githum-logo {
  margin: -10% 0 0 0;
}

#valley-content-div {
  background-color: #c4c4c4;
  border-radius: 10% 10% 10% 10%;
  height: 40vw;
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

#valley-content-container {
  height: 33vw;
  overflow-y: scroll;
}

.icon {
  width: 1.5vw;
  height: 1.5vw;
}



#forest-button-toggle-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: white;
  padding: 2% 0 2% 0;
}

#forest-song-display-container {
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  padding: 5% 0 30% 0;
  border-radius: 10% 10% 10% 10%;
  margin: -10.5% 0 0 2%;
  height: 40vw;
  width: 65vw;
  justify-content: start;
  align-items: baseline;
}

.song-container {
  width: 60vw;
  display: inline;
}

#songTable tr td:nth-child(1) {
  width: 10%;
}
#songTable tr td:nth-child(2) {
  width: 40%;
}
#songTable tr td:nth-child(3) {
  width: 40%;
}
#songTable tr td:nth-child(4) {
  width: 5%;
}
#songTable tr td:nth-child(5) {
  width: 5%;
}

#forest-action-container {
  background-color: #c4c4c4;
  display: flex;
  border-radius: 10% 10% 10% 10%;
  margin-top: 10px;
  height: 22vw;
  width: 25vw;
  overflow: visible;
  align-items: center;
  vertical-align: center;
}

.forest-action-buttons {
  color: #000000;
  background-color: #fedbff;
  border: none;
  margin: 0 0 0 18%;
  padding: 0 0 0 0;
  width: 13vw;
  height: 3.1vw;
  max-width: 10em;
  max-height: 5em;
  /* min-width: 3.5em;
    min-height: 2em; */
  font-size: 1.4vw;
  text-align: center;
  align-items: center;
}
.btn-primary:hover .btn-primary:active {
  background-color: #dab4db;
}

#valley-now-playing-container {
  /* max-width: 25vw;
    max-height: 25vw; */
  width: 50vw;
  height: 50vw;
  padding: 0 60% 65% 0;
}
.valley-toggle-button-container-div {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

.valley-toggle-button-container {
  margin: 0 auto;
  text-align: center;
}

.valley-toggle-button {
  width: 95%;
  color: #000000;
  background-color: #c8e6c9;
  border: none;
  align-items: center;
  text-align:center;
  margin:0 auto;
  font-size: 1.3vw;
  white-space: nowrap;
}

#forest-action-4 {
  background-color: #f16868;
}
