.valley-forest-holder-container {
  padding: 5% !important;
}

.valley-forest-holder {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #fedbff;
  border-radius: 10% 10% 10% 10%;
}

.valley-forest-icon-holder {
  text-align: center;
  margin: 0 auto;
}

.valley-forest-icon {
  width: 8vw;
  height: 8vw;
}

.valley-forest-title-holder {
  text-align: center;
}

.valley-forest-title {
  color: black;
  font-size: 2vw;
}

/* #valley-forest-display-container {
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  border-radius: 10% 10% 10% 10%;
  height: 40vw;
  width: 65vw;
  align-items: center;
}

.valley-forest-display-item {
  width: 40vw;
  height: 17vw;
  border-radius: 20% 20% 20% 20%;
  margin: 5% 0 0 0;
  background-color: #fedbff;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.valley-forest-pic {
  width: 8vw;
  height: 8vw;
  margin: 50% 0 0 20%;
}

.valley-forest-title {
  margin: 45% 0 0 20%;
  font-size: 3.5vw
}

td {
  align-items: center;
  justify-content: center;
  text-align: center;
} */
