.component {
  padding: 5%;
}

.now-playing-header-div {
  text-align: center;
}

.now-playing-header {
  font-size: 1.3vw;
}

.now-playing-container {
  border-radius: 2.5vw;
  background-color: #c8e6c9;
  width: 100%;
  padding: 5%;
}

.playlist-name-div {
  text-align: center;
  display: inline-bloc
}

.playlist-icon {
  max-width: 4em;
  max-height: 4em;
  width: 4.2vw;
  height: 4.2vw;
}

.playlist-name-header {
  font-size: 2.2vw;
}

.song-container {
  text-align:center;
  margin: 0 auto;
}

.song-album-art-icon {
  max-width: 15vw;
  max-height: 15vw;
  width: 10vw;
  height: 10vw;
  display: inline;
  align-items: center;
}

.song-name-header {
  color: #000000;
  font-size: 1.2vw;
}

.artist-name-header {
  color: #000000;
  font-size: 1vw;
}

.actions-div {
  text-align: center;
  margin: 0 auto;
  vertical-align: center;
  display:inline-block;
}

.now-playing-icon {
  width: 3.5vw;
  height: 3.5vw;
}
