/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* HEADER */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#queue-box-modal-header {
    min-width: 30em;
    min-height: 3em;
    height: 4em;
    text-align: center;
    align-items: center;
    background-color: #fedbff;
  }
  
  #queue-box-modal-title {
    text-align: center;
    align-items: center;
    padding: 0 0 0 30%;
    font-weight: bold;
    font-size: 2em;
  }
  
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /* BODY */
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  
  #queue-box-modal-body {
    background-color: #2e2621;
    height: 27em;
  }
  
  /* Search */
  #queue-box-search-bar {
    width: 23em;
  }
  
  #queue-box-search-button {
    width: 2em;
    height: 3em;
  }
  
  .queue-box-search-container {
    width: 28em !important;
    height: 21em;
    margin: 5% 0 0 3%;
    background: #c4c4c4;
    border-radius: 50px;
  }
  
  .queue-box-items {
    height: 15em;
    /* margin: 10% 0 0 0; */
    overflow-y: scroll;
  }
  
  table.queue-box-results {
    color: #000000;
    text-align: center;
    width: 25em;
  }
  
  tr.queue-box-item:nth-child(even) {
    background-color: #fedbff;
  }
  
  td.queue-box-item:nth-child(even) {
    background-color: #fedbff;
    display: block;
    height: 2.5em;
  }
  
  tr.queue-box-item:nth-child(odd) {
    background-color: #fbf3f3;
  }
  
  td.queue-box-item:nth-child(odd) {
    background-color: #fbf3f3;
    display: block;
    height: 2.5em;
  }
  
  tbody tr:hover.selected td,
  tbody tr:hover td {
    background-color: #fff7e3;
    cursor: pointer;
  }
  tbody tr.selected td {
    background-color: #ffd659 !important;
  }
  
  /* Action */
  #queue-box-clear-button {
    background-color: #de8f8a;
    color: #000000;
    border-radius: 50px;
    border-color: #000000;
    width: 11em;
    margin: 2% 0 0 0;
  }
 
  .center-button {
    text-align: center;
  }
  
  #add-icon {
    height: 1.5em;
    width: 1.5em;
    padding: 0 0 2% 0;
  }
  
  #currently-selected {
    text-align: left;
    font-size: 1.3em;
    display: inline-block;
    color: #636160;
    margin: 2% 0 0 5%;
  }

  #queue-button-np button{
    text-align: center;
    margin: 0 auto;
    vertical-align: center;
    display:inline-block;
  }

  /* */

 #buffer-space{
    visibility: hidden !important;
    /* display: none; */
  }