/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* HEADER */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#add-friend-modal-header {
  min-width: 30em;
  min-height: 3em;
  height: 4em;
  text-align: center;
  align-items: center;
  background-color: #fedbff;
}

#add-friend-modal-title {
  text-align: center;
  align-items: center;
  padding: 0 0 0 34%;
  font-weight: bold;
  font-size: 2em;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* BODY */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#add-friend-modal-body {
  background-color: #2e2621;
  height: 27em;
}

/* Search */
#add-friend-search-bar {
  width: 23em;
}

#add-friend-search-button {
  width: 2em;
  height: 3em;
}

.add-friend-search-container {
  width: 28em !important;
  height: 20em;
  margin: 5% 0 0 0;
  background: #c4c4c4;
  border-radius: 50px;
}

.add-friend-search-items {
  height: 14em;
  overflow-y: scroll;
}

table.add-friend-search-results {
  color: #000000;
  text-align: center;
  width: 24em;
}

tr.add-friend-search-item:nth-child(even) {
  background-color: #fedbff;
}

td.add-friend-search-item:nth-child(even) {
  background-color: #fedbff;
  display: block;
  height: 2.5em;
}

tr.add-friend-search-item:nth-child(odd) {
  background-color: #fbf3f3;
}

td.add-friend-search-item:nth-child(odd) {
  background-color: #fbf3f3;
  display: block;
  height: 2.5em;
}

/* Action */
#add-friend-request-button {
  background-color: #c8e6c9;
  color: #000000;
  border-radius: 50px;
  border-color: #000000;
  width: 11em;
  margin: 10% 0 0 0;
}

.add-friend-search-icon-button {
  padding: 0.375rem 0.75rem !important;
}
