.component {
  padding: 5%;
}

.friends-header-div {
  text-align: center;
}

.friends-header {
  font-size: 1.3vw;
}

.friend-container {
  border-radius: 2vw;
  background-color: #c4c4c4;
  width: 100%;
  padding: 5%;
}

.friend-buttons {
  text-align: center;
  padding-top: 5%;
}

.friend-button {
  color: #000000;
  background-color: #fedbff;
  border: none;
  width: 95%;
  white-space: nowrap;
  font-size: 1vw;
  text-align: center;
  margin: 0 auto;
}

.friend-button:hover {
  background-color: #e7c3e8;
}

button.friend-list-action-button {
  align-items: center;
}

.friend-table {
  height: 30vh;
  overflow-y: scroll;
}

.friend-table-row {
  font-size: 1.4vw;
}

.friend-table-row:nth-child(even) {
  background-color: #fedbff;
}

.friend-table-row:nth-child(odd) {
  background-color: #f2f2f2;
}

.friend-table td {
  vertical-align: middle;
}

.friend-table td:nth-child(1) {
  /* padding-left: 20%; */
  padding-right: 10%;
}
.friend-table td:nth-child(2) {
  padding-left: 10%;
  padding-right: -5%;
}
.friend-table td:nth-child(3) {
  /* padding-left: 5%; */
  /* padding-right: 10%; */
}
.friend-table td:nth-child(4) {
  /* padding-left: 5%; */
  /* padding-right: 15%; */
}

.friend-visit-valley {
  background-color: #c8e6c9 !important;
  border: none;
  color: #000000;
  border-radius: 0.25vw;
  width: 5vw;
  height: 3vw;
  font-size: 1.3vw;
  text-align: center;
}

.friend-name-text {
  font-size: 1.3vw;
}

.message-icon {
  width: 1.7vw;
  height: 1.7vw;
}

.delete-friend-button {
  width: 1.7vw;
  height: 1.7vw;
}
