/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* HEADER */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#friend-requests-modal-header {
  min-width: 30em;
  min-height: 3em;
  height: 4em;
  text-align: center;
  align-items: center;
  background-color: #fedbff;
}

#friend-requests-modal-title {
  text-align: center;
  align-items: center;
  padding: 0 0 0 25%;
  font-weight: bold;
  font-size: 2em;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* BODY */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#friend-requests-modal-body {
  background-color: #2e2621;
  height: 27em;
}

/* Toggle Buttons */
button.friend-requests-toggle-buttons {
  background-color: #c8e6c9;
  color: #000000;
  border-color: #000000;
  border-radius: 50px;
}

.friend-requests-toggle-button-column {
  text-align: center;
}

/* Search */
.friend-requests-container {
  width: 28em !important;
  height: 20em;
  margin: 5% 0 0 2%;
  background: #c4c4c4;
  border-radius: 50px;
}

.friend-requests-items {
  height: 15em;
  overflow-y: scroll;
  margin: 2% 0 0 0;
}

table.friend-requests-results {
  color: #000000;
  text-align: center;
  width: 24em;
}

tr.friend-requests-item:nth-child(even) {
  background-color: #fbf3f3;
}

td.friend-requests-item:nth-child(even) {
  background-color: #fbf3f3;
  display: block;
  height: 2.5em;
}

tr.friend-requests-item:nth-child(odd) {
  background-color: #fedbff;
}

td.friend-requests-item:nth-child(odd) {
  background-color: #fedbff;
  display: block;
  height: 2.5em;
}

/* Actions */
#friend-requests-accept-button {
  background-color: #c8e6c9 !important;
  color: #000000;
  width: 8em;
  margin: 0 0 0 -15%;
  border-radius: 50px;
  border: none;
}

#friend-requests-decline-button {
  background-color: #f16868 !important;
  color: #000000;
  width: 8em;
  margin: 0 0 0 0;
  border-radius: 50px;
  border: none;
}

#currently-selected-req {
  text-align: left;
  font-size: 1.3em;
  display: inline-block;
  color: #636160;
  margin: 2% 0 0 5%;
}

.hide {
  visibility: hidden;
}
