.component {
  padding: 5%;
}

.friends-header-div {
  text-align: center;
}

.friends-header {
  font-size: 1.3vw;
}

.friend-container {
  background-color: #c4c4c4;
  width: 100%;
  padding: 5%;
}

.friend-buttons {
  text-align:center;
  padding-top: 5%;
}

.friend-button {
  color: #000000;
  background-color: #fedbff;
  border: none;
  width: 95%;
  white-space: nowrap;
  font-size: 1vw;
  text-align: center;
  margin: 0 auto;
}

.friend-button:hover {
  background-color: #e7c3e8;
}


button.friend-list-action-button {
  align-items: center;
}

.friend-table {
  height:30vh;
  overflow-y: scroll;
}

.friend-table-row {
  font-size: 1.4vw;
}

.friend-table-row:nth-child(even) {
  background-color: #f2f2f2;
}

.friend-table-row:nth-child(odd) {
  background-color: #fedbff;
}


/* FRIEND CONTAINER CSS */
/*
#friend-box-title {
  text-align: center;
  font-weight: bold;
}

#friend-list-container {
  height: 15vw;
  overflow-y: scroll;
}

#friend-action-container {
  background-color: #c4c4c4;
  display: flex;
  border-radius: 10% 10% 10% 10%;
  margin: 0 0 0 20%;
  height: 25vw;
  width: 28vw;
  align-items: center;
  vertical-align: center;
}

table.friend-list-table {
  table-layout: fixed;
  width: 18vw;
}

.friend-list-item {
  background-color: #fedbff;
  width: 10vw;
  font-size: 1.4vw;
}

th.friend-list-item,
td.friend-list-item {
  text-align: left;
  padding: 8px;
  width: 10vw;
  overflow: hidden;
}

tr.friend-list-item:nth-child(even) {
  background-color: #f2f2f2;
}

button.friend-list-action-button {
  color: #000000;
  background-color: #fedbff;
  border: none;
  margin: 0 0 30% 0;
  white-space: nowrap;
  width: 9vw;
  height: 3.1vw;
  max-width: 10em;
  max-height: 5em;
  font-size: 1vw;
  text-align: center;
  align-items: center;
}

button.friend-list-action-button:hover {
  background-color: #e7c3e8;
}

#add-friend-button {
  margin: 10% 0 0 -20%;
}

#friend-requests-button {
  margin: 10% 0 0 5%;
} */
