#hierarchy-button {
  background-color: #fedbff;
  color: #ffffff;
  border: none;
  font-weight: bold;
  font-size: 1.5em;
  box-shadow: #000000;
}
#hierarchy-button:hover {
  border: none;
}

@media (min-width: 576px) {
  #hierarchy-modal {
    max-width: 90%;
  }
}

#hierarchy-modal {
  position: relative;
  text-align: center;
}

#hierarchy-modal-header {
  /* min-width: 30em;
  min-height: 3em;
  width: 60em;
  height: 4em;
  max-width: 100%; */
  text-align: center;
  align-items: center;
  background-color: #fedbff;
}

#hierarchy-modal-title {
  text-align: center;
  align-items: center;
  padding: 0 0 0 44%;
  font-weight: bold;
  font-size: 2em;
}

#hierarchy-modal-body {
  background-color: #2e2621;
  /* height: 40em;
  width: 60em;
  max-width: 100%; */
}

#hierarchy-forest-title {
  font-size: 2em;
  color: #ffffff;
  font-style: italic;
  margin: 0 0 0 0;
}
