#hierarchy-button {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 20%;
  padding-right: 20%;
  background-image: linear-gradient(0deg, #2ead39, #66ee88);
  border-radius: 10% 10% 10% 10%;
  color: #000000;
  border: none;
  font-weight: bold;
  font-size: 1.5em;
  box-shadow: #000000;
}

#hierarchy-button:hover {
  border: none;
  background-image: linear-gradient(0deg,  #248b2c, #2ed658);
}

@media (min-width: 576px) {
  #hierarchy-modal {
    max-width: 90%;
  }
}

#hierarchy-modal {
  position: relative;
  text-align: center;
}

#hierarchy-modal-header {
  text-align: center;
  align-items: center;
  background-color: #fedbff;
}

#hierarchy-modal-title {
  text-align: center;
  align-items: center;
  padding: 0 0 0 44%;
  font-weight: bold;
  font-size: 2em;
}

#hierarchy-modal-body {
  background-color: #ffffff;
  /* height: 40em;
  width: 60em;
  max-width: 100%; */
}

#hierarchy-forest-title {
  font-size: 2em;
  color: #000000;
  font-style: italic;
  margin: 0 0 0 0;
}
