.info-holder-container {
  padding: 5% !important;
}

.info-holder {
  padding-top: 2.5vmax;
  padding-bottom: 2.5vmax;
  background-color: #fedbff;
  border-radius: 10% 10% 10% 10%;
}

.valley-forest-icon-holder {
  text-align: center;
  margin: 0 auto;
}

.valley-forest-icon {
  width: 8vw;
  height: 8vw;
}

.valley-forest-title-holder {
  text-align: center;
  min-height: 3vw;
}

.valley-forest-title {
  font-size: 1.5vw;
}

/* #forest-info-container {
  background-color: #c4c4c4;
  border-radius: 10% 10% 10% 10%;
  /* height: 30em; */
  /* width: 35em; */ /* Leave this commented out */
  /* align-items: center;
  vertical-align: center;
} */

.forest-info-panel {
  background-color: #fedbff;
  border-radius: 50px;
  margin: 0 0 10% 0;
  align-items: center;
  vertical-align: center;
  display: flex;
}

#owner-panel {
  height: 8em;
  width: 17em;
}
#owner-panel h3 {
  font-size: 1.7vw;
  white-space: nowrap;
}

#number-branched-panel {
  height: 8em;
  width: 17em;
}
#number-branched-panel h3 {
  font-size: 1.7vw;
  white-space: nowrap;
}

#original-forest-panel {
  height: 8em;
  width: 17em;
}

#original-forest-panel h3 {
  font-size: 1.7vw;
  white-space: nowrap;
}

#number-saved-panel {
  height: 8em;
  width: 17em;
}

#number-saved-panel h3 {
  font-size: 1.7vw;
  white-space: nowrap;
}

#see-hierarchy-button {
  width: 10em;
  height: 3em;
  font-weight: bold;
  font-size: 1.7vw;
  color: #949191;
  background-color: #fedbff;
  border-color: #000000;
  border-width: 0.1vw;
  font-style: italic;
  white-space: nowrap;
}

#see-hierarchy-button:hover {
  color: #545252;
  background-color: #e7c3e8;
} 