/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* HEADER */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#forest-settings-modal-header {
  min-width: 30em;
  min-height: 3em;
  height: 4em;
  text-align: center;
  align-items: center;
  background-color: #fedbff;
}

#forest-settings-modal-title {
  text-align: center;
  align-items: center;
  padding: 0 0 0 25%;
  font-weight: bold;
  font-size: 2em;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* BODY */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#forest-settings-modal-body {
  background-color: #2e2621;
  height: 22em;
}

.forest-settings-container {
  width: 28em !important;
  height: 18em;
  margin: 5% 0 0 0;
  background: #c4c4c4;
  border-radius: 50px;
}

table.forest-settings-table {
  color: #000000;
  text-align: center;
  width: 25em;
  margin: 8% 0 0 2%;
}

tr.forest-settings-item:nth-child(even) {
  background-color: #fbf3f3;
  width: 25em !important;
}

td.forest-settings-item:nth-child(even) {
  background-color: #fbf3f3;
  display: block;
  height: 2.5em;
}

tr.forest-settings-item:nth-child(odd) {
  background-color: #fedbff;
  width: 25em !important;
}

td.forest-settings-item:nth-child(odd) {
  background-color: #fedbff;
  display: block;
  height: 2.5em;
  width: 25em !important;
}

tr.forest-settings-item {
  font-size: 1em;
}

/* Action */
#forest-settings-save-button {
  background-color: #c8e6c9;
  color: #000000;
  border-radius: 50px;
  border-color: #000000;
  width: 11em;
  margin: 5% 0 0 30%;
}

#forest-settings-name-bar{
  text-align: center;
  width: 15em;
}

.forest-privacy-selector-div {
  vertical-align: center;
  margin: 0 auto;
}

.visibility-dropdown{
  text-align: center;
  align-items: center;
  padding: 0 0 0 37%;
}