.info-holder-container {
  padding: 5% !important;
}

.info-holder {
  padding-top: 2.5vmax;
  padding-bottom: 2.5vmax;
  background-color: #fedbff;
  border-radius: 10% 10% 10% 10%;
}

.valley-forest-icon-holder {
  text-align: center;
  margin: 0 auto;
}

.valley-forest-icon {
  width: 8vw;
  height: 8vw;
}

.valley-forest-title-holder {
  text-align: center;
  min-height: 3vw;
}

.valley-forest-title {
  font-size: 1.5vw;
}





/* #forest-info-container {
  background-color: #c4c4c4;
  border-radius: 10% 10% 10% 10%;
  height: 40vw;
  width: 100%;
  overflow: visible;
  align-items: center;
  vertical-align: center;
  display: flex;
}

.forest-info-panel {
  background-color: #fedbff;
  border-radius: 50px;
  margin: 0 0 10% 0;
  align-items: center;
  vertical-align: center;
  display: flex;
}

#owner-panel {
  height: 12vw;
  width: 25%vw;
}
#owner-panel h3 {
  font-size: 1.7vw;
  white-space: nowrap;
}

#number-branched-panel {
  height: 12vw;
  width: 25vw;
}
#number-branched-panel h3 {
  font-size: 1.7vw;
  white-space: nowrap;
}

#original-forest-panel {
  height: 12vw;
  width: 25vw;
}

#original-forest-panel h3 {
  font-size: 1.7vw;
  white-space: nowrap;
}

#number-saved-panel {
  height: 12vw;
  width: 25vw;
}

#number-saved-panel h3 {
  font-size: 1.7vw;
  white-space: nowrap;
}

#see-hierarchy-button {
  width: 26vw;
  height: 7.2vw;
  font-weight: bold;
  font-size: 2.2vw;
  color: #949191;
  background-color: #fedbff;
  border-color: #000000;
  border-width: 0.1vw;
  font-style: italic;
  white-space: nowrap;
}

#see-hierarchy-button:hover {
  color: #545252;
  background-color: #e7c3e8;
} */
