#search-text-div {
  margin: 5%;
  margin-bottom: 2% !important;
}

#forest-icon {
  max-width: 6vw;
  max-height: 6vw;
  width: 3.3vw;
  height: 3.3vw;
  display: inline;
  align-items: center;
}

#friend-forest-list-div {
  margin: 5%;
  margin-top: 2%;
  padding: 1.5%;
  border-radius: 3vw;
  background-color: #c4c4c4;
  height: 40vw;
  text-align: center;
}

#friend-forest-list-container {
  height: 100%;
  overflow-y: scroll;
}









/* FOREST / MAIN CSS */
/*

#forest-icon-col {
  display: inline;
  align-items: center;
  padding: 0 0 0 30%;
}

#feed-title-container {
  text-align: left;
  align-items: start;
  white-space: nowrap;
  padding: 4% 0 0 4%;
}

.friend-name {
  display: inline;
  font-weight: bold;
  color: #000000;
}

.friend-forest-name {
  display: inline;
}

#feed-display-container {
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  padding: 5% 0 30% 0;
  border-radius: 10% 10% 10% 10%;
  margin: -25% 0 0 2%;
  height: 58vw;
  width: 65vw;
  justify-content: start;
  align-items: baseline;
}

#feed-display {
  align-items: center;
  display: inline-table;
  border: none;
}

.feed-forest-display {
  width: 20vw;
  height: 25vw;
  max-width: 50em !important;
  background-color: #fedbff;
  border-radius: 10% 10% 10% 10%;
}

.feed-song-display {
  align-items: center;
  text-align: center;
  padding: 0 0 0 0;
}

.feed-album-art {
  width: 8vw;
  height: 8vw;
}

.feed-song-title {
  text-align: center;
  display: block;
  font-size: 1.2em;
}

button.explore-forest-button {
  color: #000000;
  background-color: #c8e6c9;
  border: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 13vw;
  height: 3.1vw;
  max-width: 10em;
  max-height: 5em;
  font-size: 1.2vw;
  text-align: center;
  align-items: center;
} */

/* NOW PLAYING CSS */

/* #feed-now-playing-container {
  width: 50vw;
  height: 50vw;
  padding: 0 60% 65% 0;
} */

/* Common CSS */
/* td {
  white-space: nowrap;
}

tr {
  border: 0;
  border-style:hidden;
} */
