.landing-div {
  background-color: #FFFFFF;
  text-align: center;
  padding: 0 !important;
  height: 100%;
}

.landing-div .corner {
  width: 50%;
  height: 50%;
}

.landing-div .row{
  height: 100%;
}

.landing-div .landing-box {
  text-align: center;
  margin: auto;
}

.landing-div .align-items-end {
  text-align: left !important;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
}

.landing-div .align-items-start {
  text-align: right !important;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}

.landing-div .logo {
  width: 30%;
  height: 30%;
  margin-top: 2em;
}

.landing-div .header-text {
  font-family: "Red Hat Text", sans-serif;
  font-size: 5em;
  font-weight: 200;
  color: #c8e6c9;
}

.landing-div .clear {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.landing-div .spacer {
  min-width: 100px;
}

.landing-div .btn {
  background-color: #fedbff !important;
  border: none !important;
  text-align: center !important;
  padding: 15px 35px !important;
  margin-bottom: 1em;
}

@media(max-width: 61em){
  .landing-div .landing-box{
    margin-left: 2em !important;
    margin-right: 2em !important;
  }
}
