.master-div {
  background-color: #E1DDDD;
  background-image: url("../../assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.upper_small {
  width: 276px;
  height: 350px;
  left: 1350px;
  top: 408.13px;
  background: #C8E6C9;
  transform: rotate(-179.76deg);
}

.upper_large {
  width: 326px;
  height: 342px;
  left: 1440px;
  top: 333.34px;
  background: #C8E6C9;
  transform: rotate(-179.76deg);
}

.logo {
  width: 300px;
  height: 300px;
}

.header-text {
  font-family: "Red Hat Text", sans-serif;
  font-size: 5em;
  font-weight: 200;
  color: #c8e6c9;
}

.clear {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.spacer {
  min-width: 100px;
}

button {
  background-color: #fedbff;
  border: none;
  text-align: center;
  padding: 15px 35px;
}

/* .buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #fedbff;
  border: none;
  text-align: center;
  padding: 15px 35px;
}

#login-button,
#signup-button {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.title {
  padding-top: 90px;
  padding-right: 100px;
  // text-align: center;
  margin: auto auto;
  margin-top: 40px;
  margin-left: 40px;
  position: absolute;
}

.logo {
  max-width: 300px;
  max-height: 300px;
  z-index: 10;
  object-fit: contain;
  margin-right: 400px;
  position: relative;
}

.main-title {
  position: relative;
} */
