h1 {
  font-size: 2.1em;
  font-weight: bold;
  color: #000000;
  font-family: "Red Hat Text", sans-serif;
  margin-top: 50px;
}

.passwordreset-box {
  text-align: center;
  border-radius: 10%;
  background-color: #fedbff;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.passwordreset-fields {
  margin-top: 35px;
}

input {
  /* background-color: #c8e6c9; */
  border: none;
  font-family: "Red Hat Text", sans-serif;
  margin-bottom: 50px;
  width: 270px;
  height: 60px;
  color: #aaabad;
}

#submit {
  width: 200px;
  background-color: #c8e6c9;
  color: #000000;
}

p {
  color: #707173;
  font-size: 15px;
  display: inline;
}

a {
  color: #000000;
  font-weight: bolder;
  font-size: 15px;
}
