#search-text-div {
  margin: 5%;
}

#filter-by-div {
  margin: 5%;
  padding: 5%;
  border-radius: 10% 10% 10% 10%;
  background-color: #c4c4c4;
  height: 25vw;
  text-align: center;
}

#filter-by-header {
  margin: 0 auto;
  color: #000000;
  font-size: 2vw;
  text-align: center;
}

.filter-by-button {
  margin-top:10%;
  margin-bottom: 10%;
  color: #423e3e;
  background-color: #fedbff;
  border: none;
  width: 15vw;
  height: 3vw;
  max-width: 20em;
  max-height: 5em;
  font-size: 1.2vw;
  text-align: center;
  align-items: center;
  white-space: nowrap;
}

.filter-by-button:hover {
  background-color: #e7c3e8;
}

#song-list-div {
  background-color: #c4c4c4;
  border-radius: 10% 10% 10% 10%;
  height: 40vw;
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

#song-container {
  height: 33vw;
  overflow-y: scroll;
}

#now-playing-div {
  background-color: #c4c4c4;
  border-radius: 10% 10% 10% 10%;
  height: 40vw;
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

#now-playing-container {
}
